@model GetByIdAbout

@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Abouts</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Add ABout</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Update About</a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Update About Panel</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <input type="hidden" asp-for="AboutId" />
                            <label>About Title Text</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>About Description</label>
                            <textarea class="form-control" asp-for="Description" rows="5"></textarea>
                            <br />
                            <button class="btn btn-success">Updaate About</button>
                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

